  p,
  h1,
  h2,
  a,
  ul {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    border-style: none;
    vertical-align: middle;
  }

  body {
    font-size: 14px;
    margin: 0px;
  }

  .label {
    display: inline-block;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
    padding: 2px;
    text-align: center;
    width: 70px;
    border-radius: 5px;
  }

  .text-small {
    font-size: 12px;
  }
/*
  .media .flex-center {
    display: flex;
    justify-content: center;
  }
*/
  .text-emphasis {
    font-style: italic;
  }

  .media {
    margin-bottom: 40px;
    padding: 0;
  }

  .text-center {
    text-align: center;
  }

  .heading-title {
    text-align: center;
    border-top: solid 4px #222;
    border-bottom: solid 1px #222;
  }

  .media .media-container {
    display: flex;
    align-items: center;
    border-bottom: solid 1px #222;
    background-color: #fdf9d9;
  }

  .media .media-thumbnail-container {
    width: 100px;
    float: left;
    margin: 0 1px;
    padding: 8px;
  }

  .media .media-thumbnail{
    width: 100px;
  }

  .media .media-body{
    padding: 8px;
  }

  .media .media-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #011b8f;
  }
  .media .media-text {
    font-size: 13px;
    color: #000;
  }

  .footer {
    border-top: 1px solid #9c9c9c;
    background-color: #f2f5f6;
  }

  .footer-menu {
    padding: 10px 10px 20px;
    font-size: 15px;
    overflow: hidden;
    border-bottom: solid 1px #222;
    padding: 15px 10px;
  }

  .footer-menu li{
    width: 32%;
    margin-right: 2px;
    float: left;
    text-align: center;
    border-radius: 4px;
    border: solid 1px #bbb;
    background-color: #dbdbdb;

  }

  .footer-menu a{
    display: block;
    height: 18px;
    padding: 4px;
    color: #011b8f;
    font-size: 12px;
    text-align: center;
  }


  .copyright {
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding: 5px 0;
  }
