  p,
  h1,
  h2,
  ul {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    border-style: none;
    vertical-align: middle;
  }

  img, a img {
    
  }

  .media {
    margin: 0 10px 40px;
    padding: 0;
  }

  .media li a{
    display: block;
    padding: 12px 0;
    height: auto;
  }

  .text-center {
    text-align: center;
  }

  .heading-title {
    text-align: center;
    border-top: solid 4px #222;
    border-bottom: solid 1px #222;
  }

  .media-container {
    display: flex;
    align-items: center;
    border-bottom: solid 1px #222;
    padding: 10px;
    margin: 0 6px;
  }

  .media-thumbnail-container {
    width: 100px;
    float: left;
    margin-right: 5px;
  }

  .media-thumbnail{
    width: 100px;
  }

  .footer {
    border-top: 1px solid #9c9c9c;
  }

  .footer-menu {
    padding: 10px 10px 20px;
    font-size: 15px;
    overflow: hidden;
  }

  .footer-menu li{
    width: 32%;
    margin-right: 2px;
    float: left;
    text-align: center;
  }
