  p,
  h1,
  h2,
  a,
  ul,
  ol {
    margin: 0;
    padding: 0;
  }

  ul,
  ol,
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    display: block;
  }

  img {
    border-style: none;
    vertical-align: middle;
  }

  body {
    font-size: 14px;
    margin: 0;
  }

  .label {
    display: inline-block;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
    padding: 2px;
    text-align: center;
    width: 70px;
    border-radius: 5px;
  }

  .text-small {
    font-size: 12px;
  }
/*
  .media .flex-center {
    display: flex;
    justify-content: center;
  }
*/
  .text-emphasis {
    font-style: italic;
  }

  .section-base {
    background-color: #fdf9d9;
  }

  .card {
    margin: 0 auto;
    text-align: center;
    padding: 0 10px;
  }

  .card li {
    display: inline-block;
    background-color: #fff;
    border-radius: 14px;
  }

  .card-container {
    width: 150px;
  }

  .card-img {
    width: 100%;
    height: 90px;
    border-radius: 14px 14px 0 0;
    object-fit: cover;
  }

  .card-title {
    font-size: 16px;
    color: #011b8f;
    font-weight: bold;
    margin: 2px;
  }

  .card-text {
    display: block;
    text-align: left;
    padding: 0 5px;
  }

  .l-right-medium {
    margin-right: 20px;
  }

  .l-bottom-medium {
    margin-bottom: 30px;
  }

  .ranking-list {
    display: flex;
    flex-wrap: wrap;
  }

  .ranking-item {
    width: 50%;
  }

  .ranking-item .ranking-container {
    padding: 12px;
    border-bottom: solid 1px #222;
    display: block;
    position: relative;
  }

  .l-full {
    width: 100%;
  }

  .line-right-primary {
    border-right: solid 1px #222;
  }

  .ranking-item .ranking-thumbnail {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }

  .ranking-item .ranking-title {
    font-size: 16px;
    font-weight: bold;
    margin: 4px 0;
    color: #011b8f;
  }

  .ranking-order {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 80px;
    height: 80px;
    overflow: hidden;
  }

  .ranking-order-text {
    display: inline-block;
    position: absolute;
    padding: 6px 0;
    left: -33px;
    top: 15px;
    width: 127px;
    text-align: center;
    font-size: 16px;
    line-height: 14px;
    background-color: #eb9920;
    color: #fff;
    transform: rotate(-45deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 2);
  }

  .media {
    margin-bottom: 40px;
    padding: 0;
  }

  .text-center {
    text-align: center;
  }

  .heading-title {
    text-align: center;
    border-top: solid 4px #222;
    border-bottom: solid 1px #222;
    padding: 6px 0;
  }

  .heading-sub-title {
    text-align: center;
    font-size: 14px;
    color: #9c9c9c;
  }

  .media .media-container {
    display: flex;
    align-items: center;
    border-bottom: solid 1px #222;
    background-color: #fdf9d9;
  }

  .media .media-thumbnail-container {
    width: 100px;
    float: left;
    margin: 0 1px;
    padding: 8px;
  }

  .media .media-thumbnail{
    width: 100px;
  }

  .media .media-body{
    padding: 8px;
  }

  .media .media-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #011b8f;
  }

  .media .media-text {
    font-size: 13px;
    color: #000;
  }

  .category-list .category-thumbnail {
    height: 50px;
    width: 50px;
    border-radius: 25px;
  }

  .category-list .category-thumbnail-container {
    margin: 0;
    padding: 0;
  }

  .category-list {
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }

  .category-list li {
    display: inline-block;
    width: 70px;
    padding: 8px 0;
    margin-left: 16px;
  }

  @media screen and (max-width: 320px) {
    .category-list li {
      margin-left: 5px;
    }
  }

  .category-list li:first-child {
    margin-left: 0;
  }

  .category {
    padding: 5px;
    background-color: #fdf9d9;
  }

  .category-title {
    padding-top: 2px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #011b8f;
  }

  .footer {
    border-top: 1px solid #9c9c9c;
    background-color: #f2f5f6;
  }

  .footer-menu {
    font-size: 15px;
    overflow: hidden;
    border-bottom: solid 1px #222;
    padding: 15px 10px;
  }

  .footer-menu li{
    width: 32%;
    margin-right: 2px;
    float: left;
    text-align: center;
    border-radius: 4px;
    border: solid 1px #bbb;
    background-color: #dbdbdb;
  }

  .footer-menu a{
    display: block;
    height: 18px;
    padding: 4px;
    color: #011b8f;
    font-size: 12px;
    text-align: center;
  }

  .copyright {
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding: 5px 0;
  }
